.tableHeaderContainer {
    min-height: 2.4em;
    font-size: 0.8em;
    padding: 1%;
    font-family: helvetica neue, Helvetica, Arial, sans-serif;
    background-color: white;
    color: #3f454c;
    border: solid 1px #3f454c;
    border-spacing: 0;
}

.tableHeaderContainer tbody td {
    border: solid 1px #3f454c;
    color: #333333;
    padding-right: 200px;
}

.tableBodyContainer {
    font-size: 0.8em;
    font-family: helvetica neue, Helvetica, Arial, sans-serif;
    background-color: white;
    color: #3f454c;
    border: solid 1px #3f454c;
    border-spacing: 0;
}


.tableBodyContainer thead {
	display: table;
	overflow: auto;
	width: 100%
}
.tableBodyContainer tbody {
	display: block;
	height: 262px;
	overflow: auto;
	width: 100%
}

.tableBodyContainer tbody td {
    border: solid 1px #3f454c;
    color: #333333;
    padding: 1em;
}
