.topBarContainer {
    min-height: 1.2em;
    padding: 1%;
    font-family: helvetica neue, Helvetica, Arial, sans-serif;
    background-color: #333333;
    border: 1px solid black;
    color: #ffe300;
    text-align: right;
}

