.topBarContainer {
    min-height: 1.2em;
    padding: 1%;
    font-family: helvetica neue, Helvetica, Arial, sans-serif;
    background-color: #333333;
    color: #ffe300;
}

.filterBarContainer {
    min-height: 2.4em;
    padding: 1%;
    font-family: helvetica neue, Helvetica, Arial, sans-serif;
    background-color: #3f454c;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}